
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, pink, purple, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    text-indent: 10px;
    transition: background 0.3s ease;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-item.active {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.home-button i, .project-button i {
    margin-right: 5px;
}

.main-content {
    text-align: center;
    color: white;
    margin-left: 120px;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.project-box:hover {
    transform: scale(1.05);
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    width: 70px;
    height: 70px;
    all: unset; /* wow this looks better, too lazy to sync the rest tho */
    text-decoration: none;
    color: inherit;
}

.contact-box:hover {
    transform: scale(1.05);
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .sidebar {
        height: 150px;
        width: 100%;
    }
    .main-content {
        margin-left: 0px;
    }
    .projects {
        flex-direction: column;
    }
    body {
        background: linear-gradient(to bottom, pink, purple, black);
    }
}
