@media screen and (max-width: 767px) {
  body {
    zoom: 87%;
  }
}

body {
  font-family: sans-serif;
  color: black;
  margin-top: env(safe-area-inset-top);
}

.box {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  height: 75px;
  width: 300px;
  background-color: white;
  text-align: left;
}

.box img {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 64px;
  height: 64px;
  border-radius: 15px;
}

.box h3 {
  display: inline-block;
  margin-top: 0;
}

.box h2 {
  display: inline-block;
  margin-top: 0;
  font-size: 14
}

.box h4 {
  display: inline-block;
  margin: 0;
}

.box a {
  display: inline-block;
  padding: 7px 15px;
  background-color: #007aff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  content: "GET";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.box a hover {
  background-color: #005aff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: rgb(18, 18, 18);
    ;
    color: #e8e6e3;
  }

  .box {
    background-color: #292929;
  }

  .box a {
    background-color: #0062cc;
    color: #e8e6e3;
  }

  .box a hover {
    background-color: #0048cc;
  }

  :root {
    --status-bar-background-color: #13556f;
  }
  #gitIcon img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --status-bar-background-color: #87CEEB;
  }

  body {
    background-color: #f6f8fa;
  }

  .box {
    background-color: #252525;
    color: #fff;
  }

  .icnn {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

#plusIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #007aff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#plusIcon img {
  width: 60%;
}

#gitIcon {
  position: fixed;
  right: 60px;
  width: 30px;
  height: 30px;
  padding-top:1.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gitIcon img {
  width: 29px;
}
